flask==3.1.0
python-dotenv==1.1.0
pinecone_client==2.2.4
pinecone==6.0.2
langchain==0.3.23
langchain-community==0.3.21
langchain-pinecone==0.2.5
langchain-google-genai==2.0.10
google-generativeai==0.8.5
pypdf==5.4.0
sentence-transformers==4.1.0
huggingface-hub==0.30.2
transformers==4.51.3
torch==2.6.0
numpy==2.2.5
gunicorn==23.0.0