sentence-transformers==2.2.2
langchain==0.1.0
flask==3.0.2
pypdf==4.0.1
python-dotenv==1.0.1
pinecone-client[grpc]==3.0.2
langchain-pinecone==0.0.3
langchain-google-genai==0.0.11
google-generativeai==0.4.1
google-ai-generativelanguage==0.4.0
langchain-community==0.0.20
huggingface-hub==0.19.0
transformers==4.30.2
torch==2.6.0
torchvision==0.21.0
numpy==1.26.4
scikit-learn==1.6.1
scipy==1.15.2
nltk==3.9.1
sentencepiece==0.2.0
gunicorn==21.2.0